[Desktop Entry]
Categories=Development;
Comment=lonenote
Exec=lonenote %f
GenericName[en_US]=\s \s
GenericName=\s \s
Icon=application-lonenote.lonenote
MimeType=application/lonenote.lonenote;
Name=lonenote
StartupNotify=true
Terminal=false
Type=Application